<!-- Main Content -->
<main class="col-auto">
  <!-- Hero Background -->
  <div class="video-background">
    <div class="video-wrap">
      <div id="video">
        <img src="/assets/Choose-Path-Background.jpeg" class="img-fluid hero-background-image"
          alt="Person standing in a field looking at hilly horizon at twilight with tent in foreground.">
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="jumbotron jumbotron-fluid d-flex align-items-center vh-100 landing-page-content">
    <div class="col-lg-3 col-md-2"></div>
    <div class="container">
      <div class="row justify-content-center mx-5 my-5">
        <h1 class="text-white text-center">Pick Your Path<h2>
      </div>
      <div class="row text-center my-5">
        <div class="container col-lg-6 justify-content-center">
          <a href="/camp-form" role="button"><img src="/assets/icons/Wanderlog-Icon_Tent_Reverse.svg"
              class="img-fluid my-5 grow" alt="Tent icon"></a>
          <a class="btn custom-btn btn-primary btn-lg py-2 grow text-center" href="/camp-form" role="button">
            <h4 class="px-4 text-white">Camping Adventure</h4>
          </a>
        </div>
        <div class="container col-lg-6 justify-content-center">
          <div>
            <a href="/trail-form" role="button"><img src="/assets/icons/Wanderlog-Icon_Trail_Reverse.svg"
                class="img-fluid my-5 grow" alt="Trail icon"></a>
          </div>
          <div>
            <a class="btn custom-btn btn-primary btn-lg py-2 grow text-center" href="/trail-form" role="button">
              <h4 class="px-4 text-white">Trail Quest</h4>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-2"></div>
  </div>
</main>