<!-- Main Content -->
<main class="col-auto">
    <!-- Video Background -->
    <div class="video-background">
        <div class="video-wrap">
            <div id="video">
                <video id="bgvid" autoplay loop muted playsinline>
                    <source src="/assets/Walk-in-the-Woods-Reduced.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center vh-100 landing-page-content">
        <div class="col-lg-3 col-md-2"></div>
        <div class="container">
            <div class="row justify-content-center mx-5 my-5">
                <img src="/assets/Wanderlog-Logo_Reverse.png" alt="Wanderlog Logo" class="col-lg-8 img-fluid my-3">
                <h2 class="lead text-white text-center">Your camping and hiking guestbook.<h2>
            </div>
            <div class="text-center mx-5">
                <div class="form-group mb-4">
                    <input type="text" class="form-control rounded" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default"
                        placeholder="Search for a camping or trail experience">
                </div>
                <a class="col-lg-6 col-12 btn custom-btn btn-primary btn-lg btn-block" href="/global-dashboard"
                    role="button">Wander!</a>
            </div>
            <div class="text-center my-5">
                <a class="col-lg-2 col-3 btn custom-btn btn-primary btn-block mx-2 grow"
                    href="/login" role="button">Login</a>
                <a class="col-lg-2 col-3 btn custom-btn btn-primary btn-block mx-2 grow"
                    href="/signup" role="button">Sign Up</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</main>