<!-- Main Content -->
<main class="col-auto">
    <!-- Video Background -->
    <div class="video-background">
        <div class="video-wrap">
            <div id="video">
                <video id="bgvid" autoplay loop muted playsinline>
                    <source src="/assets/Walk-in-the-Woods-Reduced.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center vh-100 landing-page-content">
        <div class="col-lg-3 col-md-2"></div>
        <div class="container">
            <div class="row justify-content-center mx-5 my-3">
                <h1 class="text-white text-center">Sign Up<h1>
            </div>
            <div class="text-center mx-5">
                <div class="mb-4">
                    <div class="row input-group">
                        <input id="user-last-name-input" type="text" class="form-control rounded my-3"
                            aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="First Name">
                        <input id="user-first-name-input" type="text" class="form-control rounded my-3"
                            aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Last Name">
                    </div>
                    <input id="username-input" type="text" class="form-control rounded my-3" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Username">
                    <input id="password-input" type="text" class="form-control rounded my-3" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Password">
                </div>
                <a class="col-lg-6 col-12 btn custom-btn btn-primary btn-lg btn-block" href="#" role="button">Create
                    Account</a>
                <div class="container my-5">
                    <p class="text-white">Already have an account? <a class="link grow text-white"
                            href="/login"><u>Login instead!</u></a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
    </div>
</main>