/* Adobe Typekit Web Fonts */
@import url("https://use.typekit.net/jnf7bws.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: nimbus-sans, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: pauline, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #BC6C25;
}

h2 {
    font-family: nimbus-sans, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
  
h3 {
    font-family: nimbus-sans, sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}
  
h4 {
    font-family: nimbus-sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #BC6C25;
}
  
h5 {
    font-family: nimbus-sans, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #BC6C25;
}
  
h6 {
    font-family: nimbus-sans, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-family: nimbus-sans, sans-serif;
}

.grow { 
    transition: all .1s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1);
    transition: all .1s ease-in-out; 
}

/* Main Navbar */
.navbar-custom {
    background-color: #00aba7;
}

.logo {
    width: 4rem;
}

.menu-text:hover {
    color: lightgray;
}

/* Add New Adventure Button */
.navbar-button {
    background-color: #006160;
    border: none;
    color: white;
}

.navbar-button:hover {
    background-color: #003f3e;
    color: white;
    border: none;
    transform: scale(1.05);
}

.navbar-button:active {
    background-color: #006160;
    border: none;
}

/* Site Custom Button */
.custom-btn {
    background-color: #00aba7;
    border: none;
}

.custom-btn:hover {
    background-color: #006160;
    color: white;
    border: none;
    transform: scale(1.05);
    transition: all .1s ease-in-out; 
}

.custom-btn:active {
    background-color: #006160;
    border: none;
}

/* Star Ratings */
.checked {
    color: #BC6C25;
}

.landing-page-content {
    position: absolute;
    width: 100vw;
}

/* Heroes */
.video-background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(00, 0, 0, 0.6);
}

.hero-background-image {
    object-fit: cover;
    min-height: 100vh;
    background-color: rgba(00, 0, 0, 0.6);
}

/* Forms and Inputs */
input[type="text"]::placeholder {                 
    /* Firefox, Chrome, Opera */
    text-align: center;
    color: gray;
}

.form-inline {
    display: inherit;
}

/* Tan page background */
.tan-background {
    background-color: #F8EEE1;
}

/* Adds padding to the top of pages with content so that the navbar does not obstruct the view. */
.page-content-padding {
    padding-top: 15vh;
}

.post-page-padding {
    padding-top: 10vh;
}

.post-header {
    padding-top: 8vh;
}

.camp-post-card {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.checklist-background {
    background-color: #006160;
    padding: 2rem;
}

/* Fills parent container with image */
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* For post cards */
.like-container {
    background-color: #00ABA7;
    width: max-content;
    height: 11%;
    border-radius: 5rem;
    display: block;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: -1.75rem 0 1.5rem -1.25rem;
    padding: 0.5rem 1rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

.icon {
    width: 3rem;
}

hr {
    border: 0 none;
    height: 1px;
    background-color: #BC6C25;
    color: #BC6C25;
}

.custom-dropdown {
    color: gray;
}

.form-check-input {
    color: #00ABA7;
}

.comment-background {
    background-color: #F8EEE1;
}

@media screen and (max-width: 768px) {
    .page-content-padding {
        padding-top: 10vh;
    }
}

.stars input {
    position: absolute;
    left: -999999px;
}

.stars a {
    display: inline-block;
    padding-right:4px;
    text-decoration: none;
    margin:0;
}

.stars a:after {
    position: relative;
    font-size: 18px;
    font-family: 'FontAwesome', serif;
    display: block;
    content: "\f005";
    color: #9e9e9e;
}
